<!DOCTYPE html>
<html>
<head>
    <title>File Exchange</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>

<div class="container">

    <header>
        <h1>File Exchange</h1>

        <p>Authenticated: {{ request.user.is_authenticated }}</p>
        <p>User: {{ request.user }}</p>

            {% if request.user.is_authenticated %}
            <div class="user-info">
                Přihlášen jako: <strong>{{ request.user.username }}</strong>
                <a href="/logout/" class="logout">Logout</a>
            </div>

            <nav>
                <a href="/files/image/">Images</a>
                <a href="/files/video/">Video</a>
                <a href="/files/audio/">Audio</a>
                <a href="/files/text/">Text</a>
                <a href="/files/3d/">3D</a>
                <a href="/shared/">Shared With Me</a>
            </nav>
        {% endif %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</div>

</body>
</html>