
{% extends 'core/base.html' %}

{% block content %}

<h2>{{ file_type|title }} files</h2>

<a href="/upload/{{ file_type }}/">+ Upload new</a>

<div class="file-grid">

{% for file in files %}
    <div class="file-card">

        <div class="file-preview">

    {% if file_type == 'image' %}

        <img src="{{ file.file.url }}" alt="">

    {% elif file_type == 'video' %}

        <video controls>
            <source src="{{ file.file.url }}">
        </video>

    {% elif file_type == 'audio' %}

        <div class="audio-preview">
            🎵
            <audio controls>
                <source src="{{ file.file.url }}">
            </audio>
        </div>

    {% elif file_type == 'text' %}

        <div class="file-icon">📄</div>

    {% elif file_type == '3d' %}

        <div class="file-icon">🧊</div>

    {% endif %}

</div>

        <div class="shared-users">

            {% if file.shared_with.all %}

                Shared with:

                {% for user in file.shared_with.all %}
                    {{ user.username }}
                    <a href="/unshare/{{ file.id }}/{{ user.id }}/">✖</a>
                {% empty %}
                    nobody
                {% endfor %}

            {% endif %}

        </div>

        <div class="file-name">
            <!--original_name: -->{{ file.original_name }}
            <!--<br>
            {{ file.file.name|cut:"uploads/" }}-->
        </div>

        <div class="file-actions">
            <a href="{{ file.file.url }}">Open</a> |
            <a href="/delete/{{ file.id }}/">Delete</a>
            <a href="/share/{{ file.id }}/">Share</a>
        </div>

    </div>
{% empty %}
    <p class="empty">No files yet.</p>
{% endfor %}

</div>

{% endblock %}
<br>
<a href="/dashboard/">Back</a>
</body>
</html>