<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'core/base.html' %}

{% block content %}

<h2>Upload {{ file_type }}</h2>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="file" name="file">

    <button type="submit">Upload</button>
</form>

{% endblock %}
<a href="/dashboard/">Back</a>


{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}


</body>
</html>